<!DOCTYPE html>
<head>
</head>

<body>
	<div class="container">
		<h1 id="homepage_header">What should we do tonight?</h1>
		<div id="main_buttons">
		<div class="btn btn-default" id="button_restaurants"><%= link_to "Restaurants", "/restaurants", {:class => "button_restaurants a"} %></div>
		<div class="btn btn-default" id="button_movies"><%= link_to "  Movies  ", "/movies", :class => "button_movies a" %></div>
	</div>
</body>
